.home {
  display: flex;
  align-items: center;
  padding: 0 10%;
  background: url("/src/assets/images/portfolio_bg.png");
  background-size: cover;
  background-position: 250px center;
  z-index: -80px;
  transition: 2s;
  min-height: 100vh;
}

.homeContent {
  max-width: 60rem;
  z-index: 2;
  margin-top: 60px;
}

.homeContent h1 {
  position: relative;
  display: inline-block;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.homeContent .textAnimate {
  margin-top: 30px;
  position: relative;
  width: 40rem;
}

.homeContent .textAnimate h3 {
  width: 45rem;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.textAnimate h3 span {
  opacity: 0;
  display: inline-block;
  animation: animate 1s linear forwards;
}

video {
  position: absolute;
  top: -5rem;
  left: -5rem;
  height: 15rem;
  width: 50rem;
  object-fit: cover;
  animation-delay: 1s;
  animation: disapear 6s linear forwards;
}

.homeContent .textAnimate h3::before {
  content: "";
  position: absolute;
  top: -5rem;
  left: -5rem;
  height: 15rem;
  width: 50rem;
  mix-blend-mode: color;
  pointer-events: none;
}

h3 span:nth-child(1) {
  animation-delay: 1s;
}
h3 span:nth-child(2) {
  animation-delay: 1.2s;
}
h3 span:nth-child(3) {
  animation-delay: 1.4s;
}
h3 span:nth-child(4) {
  animation-delay: 1.6s;
}
h3 span:nth-child(5) {
  animation-delay: 1.8s;
}
h3 span:nth-child(6) {
  animation-delay: 2s;
}
h3 span:nth-child(7) {
  animation-delay: 2.2s;
}
h3 span:nth-child(8) {
  animation-delay: 2.4s;
}
h3 span:nth-child(9) {
  animation-delay: 2.6s;
}
h3 span:nth-child(10) {
  animation-delay: 2.8s;
}
h3 span:nth-child(11) {
  animation-delay: 3s;
}
h3 span:nth-child(12) {
  animation-delay: 3.2s;
}
h3 span:nth-child(13) {
  animation-delay: 3.4s;
}
h3 span:nth-child(14) {
  animation-delay: 3.6s;
}
h3 span:nth-child(15) {
  animation-delay: 4s;
}
h3 span:nth-child(16) {
  animation-delay: 4.2s;
}
h3 span:nth-child(17) {
  animation-delay: 4.4s;
}
h3 span:nth-child(18) {
  animation-delay: 4.6s;
}
h3 span:nth-child(19) {
  animation-delay: 4.8s;
}

/* .homeContent .textAnimate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -33rem, 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.homeContent .textAnimate h3::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 0;
  height: 80%;
  border-right: 2px solid var(--main-color);
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
} */

.homeContent p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.homeSci {
  position: relative;
  margin: 3rem 0;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.homeSci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.homeSci a:hover {
  color: var(--bg-color);
}

.homeSci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: 0.5s;
  border-radius: 50%;
  transform: scale(0);
}

.homeSci a:hover::before {
  transform: scale(1);
}

.homeImgHover {
  position: absolute;
  top: 0;
  left: 60rem;
  width: calc(100vw - 60rem);
  height: 100%;
  background: transparent;
  transition: 3s;
  z-index: -1;
}

.homeImgHover:hover {
  background: var(--bg-color);
  opacity: 0.8;
}

/* BREAKPOINTS */

@media (max-width: 991px) {
  .home {
    padding: 0 4%;
  }

  .home {
    background-position: 150px center;
  }

  .homeImgHover {
    left: 0;
    width: 100%;
    background: var(--bg-color);
    opacity: 0.6;
  }
}

@media (max-width: 800px) {
  .home {
    background-position: 50px center;
  }
}

@media (max-width: 560px) {
  .homeContent h1 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 520px) {
  .homeSci {
    width: 160px;
  }

  .homeSci a {
    width: 38px;
    height: 38px;
  }

  .home {
    background: var(--bg-color);
  }
}

@media (max-width: 462px) {
  .homeContent h1 {
    font-size: 5.2rem;
  }

  .home {
    justify-content: center;
  }

  .homeContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .homeSci {
    margin: 5rem 0 2rem 0;
  }

  .homeContent .textAnimate {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .homeContent .textAnimate h3 {
    width: 36rem;
    font-size: 2.8rem;
  }

  video {
    width: 47rem;
  }

  .homeContent .textAnimate h3::before {
    width: 47rem;
  }
}

@media (max-height: 450px) {
  .home {
    background: var(--bg-color);
  }

  .homeContent {
    margin-top: 100px;
  }
}

/* KEYFRAMES ANIMATION */

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

@keyframes disapear {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

/* @keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
} */
