.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url("/src/assets/images/portfolio_bg.png");
  background-size: cover;
  background-position: 250px center;
}

.homeContent {
  max-width: 60rem;
}

.homeContent h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.homeContent .textAnimate {
  position: relative;
  width: 32.8rem;
}

.homeContent .textAnimate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
}

.homeContent p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.btnBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btnBox .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btnBox .btn:hover {
  color: var(--main-color);
}

.btnBox .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);

  z-index: -1;
  transition: 0.5s;
}

.btnBox .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btnBox .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btnBox .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btnBox .btn:hover::before {
  width: 100%;
}

.homeSci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.homeSci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.homeSci a:hover {
  color: var(--bg-color);
}

.homeSci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: 0.5s;
  border-radius: 50%;
  transform: scale(0);
}

.homeSci a:hover::before {
  transform: scale(1);
}
