.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;

  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.btn:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

/* ANIMATE */
.animateBg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 5;
}

.animateSecBg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--second-bg-color);
  z-index: 5;
}

.animateBg.animate1.animateImage {
  width: calc(100vw - 60rem);
}

.animateBg.animate1,
.animateSecBg.animate1 {
  animation: showRight 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}

@keyframes showRight {
  100% {
    width: 0;
  }
}
