.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;

  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.btn:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

/* .btnBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
} */

/* .btnBox .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
} */

/* .btnBox .btn:hover {
  color: var(--main-color);
}

.btnBox .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-color);

  z-index: -1;
  transition: 0.5s;
} */

/* .btnBox .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btnBox .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btnBox .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btnBox .btn:hover::before {
  width: 100%;
} */

/* .btnBox.btns {
  display: inline-block;
  width: 15rem;
}

.btnBox.btns a::before {
  background: var(--second-bg-color);
} */

/* ANIMATE */
.animateBg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 1;
}

.animateSecBg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--second-bg-color);
  z-index: 1;
}

.animateBg.animate1.animateImage {
  width: calc(100vw - 60rem);
}

.animateBg.animate1,
.animateSecBg.animate1 {
  animation: showRight 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}

@keyframes showRight {
  100% {
    width: 0;
  }
}
