.navContainer {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  padding: 2rem 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 2s ease-in-out;
}

.navContainer.sticky {
  background: var(--bg-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navBar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navBar a:hover,
.navBar a.active {
  color: var(--main-color);
}

.NavBarToggler {
  display: none;
}

.NavBarToggler {
  padding: 15px;
  cursor: pointer;
}

.NavBarTogglerIcon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
  right: 20px;
}
.NavBarTogglerIcon:focus {
  border-bottom: 2px solid #fff;
}
.NavBarTogglerIcon:after,
.NavBarTogglerIcon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
.NavBarTogglerIcon:after {
  top: 8px;
}
.NavBarToggler.NavBarTogglerX .NavBarTogglerIcon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
.NavBarToggler.NavBarTogglerX .NavBarTogglerIcon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
.NavBarToggler.NavBarTogglerX .NavBarTogglerIcon {
  border-color: transparent;
}

/* BREAKPOINT */
@media (max-width: 991px) {
  .navContainer {
    padding: 2rem 4%;
  }
}

@media (max-width: 768px) {
  .navContainer {
    background: var(--bg-color);
  }

  .NavBarToggler {
    display: block;
  }

  .navBar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 5%;
    background-color: var(--bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 0.25s ease;
  }

  .navBar.navActive {
    left: 0;
  }

  .navBar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
}
