.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 3s;
}

.navContainer.sticky {
  background: var(--bg-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navBar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navBar a:hover,
.navBar a.active {
  color: var(--main-color);
}

#menuIcon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

/* BREAKPOINT */
@media (max-width: 991px) {
  .navContainer {
    padding: 2rem 4%;
  }
}

@media (max-width: 768px) {
  .navContainer {
    background: var(--bg-color);
  }

  #menuIcon {
    display: block;
  }

  .navBar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 4%;
    background-color: var(--bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  .navBar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
}
