.portfolio {
  min-height: auto;
  padding-bottom: 7rem;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolioContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolioContainer .portfolioBox {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.portfolioBox img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolioBox:hover img {
  transform: scale(1.1);
}

.portfolioBox .portfolioLayer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--second-bg-color));
  border: 0.25rem solid var(--main-color);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(-105%);
  transition: 0.5s ease;
}

.portfolioBox:hover .portfolioLayer {
  transform: translateY(0);
}

.portfolioLayer h4 {
  font-size: 3rem;
  color: var(--main-color);
}

.portfolioLayer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolioLayer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolioLayer a .link {
  font-size: 2rem;
  color: var(--second-bg-color);
}

@media (max-width: 768px) {
  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolioContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .portfolioContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
