.portfolio {
  min-height: auto;
  padding-bottom: 7rem;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolioContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolioContainer .portfolioBox {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.portfolioBox img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolioBox:hover img {
  transform: scale(1.1);
}

.portfolioBox .portfolioLayer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--second-bg-color));
  border: 0.25rem solid var(--main-color);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(-105%);
  transition: 0.5s ease;
}

.portfolioBox:hover .portfolioLayer {
  transform: translateY(0);
}

.portfolioLayer h4 {
  font-size: 3rem;
  color: var(--main-color);
}

.portfolioLayer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.homeSci {
  position: relative;
  margin: 1.5rem 0;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeSci a {
  margin: 0 1rem;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.homeSci a:hover {
  color: var(--bg-color);
}

.homeSci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transition: 0.5s;
  border-radius: 50%;
  transform: scale(0);
}

.homeSci a:hover::before {
  transform: scale(1);
}

@media (max-width: 768px) {
  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolioContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .portfolioContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
